<h2>Words List</h2>
<br>
<ul>
  <% @words.each() do |word| %>
    <li><a href="/words/<%= word.id() %>"><%= word.name() %></a></li>
  <% end %>
</ul>
<br>
<a href="/words/new" class="button">Add New Word</a>
